
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/typography";

@import "pages/intro";
@import "pages/choice";
@import "pages/throw";
@import "pages/results-screens";
@import "pages/score";
@import "pages/win-lose";
@import "pages/quit-final.scss";


.intro-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 80%;
}

.instructions {
  margin: 0 auto;
  width: 90%;
}

.game-name {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title-words {
  display: block;
  margin: 0 2.5rem;
}

.start-btns-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.start-btns {
  height: 10rem;
  width: 25rem;
  background-color: #fdff5c;
  border: none;
  border-radius: 15px;
}

.start-btns:hover {
  cursor: pointer;
}

.chicken{
  display: block;
  width: 65rem;
  margin: 0 auto;
}

.admonishment {
  width: 90rem;
  margin: 0 auto;
}

.choice-screen {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

.hands-box {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.hands {
  width: 25rem;
  border-radius: 50%;
  display: block;
  margin: 6rem auto;
  box-shadow: 4px 5px 8rem $color-white;
  box-shadow: -4px -5px 8rem $color-white;
  cursor: pointer;
}

.throw-screen {
  width: 100%;
  display: flex;
  align-items: center;
}

.throws-container {
  flex-basis: 100%;
}


.blank-throws {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
}

.weapon-thrown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
}

.weapon-thrown img {
  display: block;
  width: 30rem;
  box-shadow: 4px 5px 4.5rem red;
  height: intrinsic;
}

.appearing-items {
  visibility: hidden;
}

.cpu-throws {
  width: 30rem;
}

.tie-screen {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tie-img {
  display: block;
  width: 30rem;
  margin: 0 auto;
  border-radius: 20%;
}

.tie-screen h2 {
  max-width: 65rem;
}

.scissors-screen {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.scissors-container {
  display: flex;
  width: 80%;
  align-items: center;
  margin-top: 4rem;
}

.scissors-loser {
  height: 30rem;
  border-radius: 50%;
}

.fight-picture {
  width: 40rem;
  margin: 0 5rem;
}

.scissors-winner {
  height: 30rem;
  border-radius: 50%;
}

.paper-rock-container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.right-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paper-or-rock-winner {
  height: 17.5rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 5rem;
  display: block;
}

.fight-two {
  width: 40rem;
  margin: 3rem auto;
  display: block;
}

.paper-or-rock-loser {
  height: 17.5rem;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.paper-or-rock-screen h1 {
  margin: 0;
}

.score-screen {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, .6);
}

.scores {
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
}

.lose-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}

.dead-loser {
  display: block;
  width: 30rem;
}

.keys {
  display: inline-block;
  width: 5rem;
  transform: translateY(1.2rem);
}

.n-key {
  margin-right: -.3rem;
}

.win-screen img {
  display: block;
}

@import "base/utilities";