*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 8.8px;
  }
}
@media only screen and (max-width: 1050px) {
  html {
    font-size: 7.2px;
  }
}
@media only screen and (max-width: 850px) and (orientation: portrait) {
  html {
    font-size: 7.8px;
  }
}
@media only screen and (max-device-width: 850px) and (orientation: landscape) {
  html {
    font-size: 6.4px;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 5.6px;
  }
}
@media only screen and (max-width: 350px) {
  html {
    font-size: 4.5px;
  }
}

body {
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
  min-height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  padding: 2rem;
}

.screen-background {
  background-image: url("https://i.pinimg.com/originals/ff/cc/2a/ffcc2ac60d849dc43cbfcc3fca32a406.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
@media only screen and (max-width: 500px) {
  .screen-background {
    background-position: 20% 15%;
    background-size: 330%;
  }
}
@media only screen and (max-width: 440px) {
  .screen-background {
    background-position: 22% 5%;
    background-size: 500%;
  }
}

.color-layer {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

body {
  font-size: 3.2rem;
  color: #fff;
}

.instructions {
  font-family: "Potta One";
  font-size: 2.5rem;
}

.game-name {
  font-size: 9rem;
  font-family: "Josefin Sans";
}
@media only screen and (max-device-width: 850px) and (orientation: landscape) {
  .game-name {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 440px) {
  .game-name {
    font-size: 7rem;
  }
}

.start-btns {
  font-size: 3rem;
  font-family: "Anton";
  letter-spacing: 2px;
  color: red;
}

.machine {
  font-size: 1.2em;
  font-family: monospace;
  color: indianred;
  font-weight: normal;
  white-space: nowrap;
}

.admonishment {
  color: #000;
  font-size: 4rem;
}

.choose {
  font-family: "Potta One";
}

.blank-throws {
  font-family: "Josefin Sans";
  font-weight: bolder;
}

.score-screen h1 {
  font-size: 10rem;
}

.scores {
  font-size: 4rem;
}

.final-screen h3 {
  color: #000;
  font-size: 8rem;
  text-align: center;
}

.intro-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  min-height: 55rem;
}

.instructions {
  margin: 0 auto;
  width: 90%;
}

.game-name {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title-words {
  display: block;
  margin: 0.5rem 2.5rem;
}

.start-btns-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 440px) {
  .start-btns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 22rem;
  }
}

.start-btns {
  height: 10rem;
  width: 25rem;
  background-color: #fdff5c;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 0 1rem;
}

.quit-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}

.chicken {
  display: block;
  width: 50rem;
  margin: -4rem auto;
  margin-top: -10rem;
}

.admonishment {
  width: 90rem;
  margin: 0 5rem;
}
@media only screen and (max-width: 850px) and (orientation: portrait) {
  .admonishment {
    width: 90%;
  }
}

.choice-screen {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
@media only screen and (max-width: 850px) and (orientation: portrait) {
  .choice-screen {
    height: 90%;
    justify-content: space-evenly;
  }
}

.hands-box {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 850px) and (orientation: portrait) {
  .hands-box {
    width: 70%;
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.hands {
  width: 28rem;
  border-radius: 55%;
  display: block;
  box-shadow: 4px 5px 8rem #fff;
  box-shadow: -4px -5px 8rem #fff;
  cursor: pointer;
}

.rock-choice {
  width: 25rem;
}

.throw-screen {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
}
@media only screen and (max-width: 850px) and (orientation: portrait) {
  .throw-screen {
    flex-direction: column;
    height: 100%;
  }
}

.throw-action {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media only screen and (max-width: 850px) and (orientation: portrait) {
  .throw-action {
    height: 40%;
  }
}

.cpu-action {
  margin-top: -2rem;
}

.weapon-thrown {
  display: block;
  width: 30rem;
  box-shadow: 4px 5px 4.5rem red;
  height: intrinsic;
}

.cpu-throws {
  width: 30rem;
}

.appearing-items {
  visibility: hidden;
}

.tie-screen {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media only screen and (max-device-width: 850px) and (orientation: landscape) {
  .tie-screen {
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.tie-img {
  display: block;
  width: 30rem;
  margin: 0 auto;
  border-radius: 20%;
}
@media only screen and (max-device-width: 850px) and (orientation: landscape) {
  .tie-img {
    margin-right: 1rem;
  }
}

.tie-screen h2 {
  max-width: 65rem;
}
@media only screen and (max-device-width: 850px) and (orientation: landscape) {
  .tie-screen h2 {
    margin-left: 1rem;
  }
}

.scissors-screen {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.scissors-container {
  display: flex;
  width: 80%;
  align-items: center;
  margin-top: 4rem;
}

.scissors-loser {
  height: 30rem;
  border-radius: 50%;
}

.fight-picture {
  width: 40rem;
  margin: 0 5rem;
}

.scissors-winner {
  height: 30rem;
  border-radius: 50%;
}

.paper-rock-container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.right-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paper-or-rock-winner {
  height: 17.5rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 5rem;
  display: block;
}

.fight-two {
  width: 40rem;
  margin: 3rem auto;
  display: block;
}

.paper-or-rock-loser {
  height: 17.5rem;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.paper-or-rock-screen h1 {
  margin: 0;
}

.score-screen {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.6);
}

.scores {
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
}

.lose-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}

.win-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
}

.dead-loser {
  display: block;
  width: 30rem;
}

.dead-computer {
  display: block;
  width: 30rem;
  border-radius: 10px;
}

.keys {
  display: inline-block;
  width: 5rem;
  transform: translateY(1.2rem);
  cursor: pointer;
}

.n-key {
  margin-right: -0.3rem;
}

.make-visible {
  visibility: visible;
}

.disappear {
  display: none;
}

/*# sourceMappingURL=index.css.map */
