*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
  min-height: 55rem;
  display: flex;
  justify-content: center;
  align-items: safe center;
  overflow-y: scroll;
}

.screen-background {
  background-image: url("https://i.pinimg.com/originals/ff/cc/2a/ffcc2ac60d849dc43cbfcc3fca32a406.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.color-layer {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

body {
  font-size: 3.2rem;
  color: #fff;
}

.instructions {
  font-family: "Potta One";
  font-size: 2.2vw;
}

.game-name {
  font-size: 9rem;
  font-family: "Josefin Sans";
}

.start-btns {
  font-size: 3rem;
  font-family: "Anton";
  letter-spacing: 2px;
  color: red;
}

.machine {
  font-size: 1.2em;
  font-family: monospace;
  color: indianred;
  font-weight: normal;
}

.admonishment {
  color: #000;
  font-size: 4rem;
}

.choose {
  font-family: "Potta One";
}

.blank-throws {
  font-family: "Josefin Sans";
  font-weight: bolder;
}

.score-screen h1 {
  font-size: 10rem;
}

.scores {
  font-size: 4rem;
}

.final-screen h3 {
  color: #000;
  font-size: 8rem;
  text-align: center;
}

.intro-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 80%;
}

.instructions {
  margin: 0 auto;
  width: 90%;
}

.game-name {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title-words {
  display: block;
  margin: 0 2.5rem;
}

.start-btns-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.start-btns {
  height: 10rem;
  width: 25rem;
  background-color: #fdff5c;
  border: none;
  border-radius: 15px;
}

.start-btns:hover {
  cursor: pointer;
}

.chicken {
  display: block;
  width: 65rem;
  margin: 0 auto;
}

.admonishment {
  width: 90rem;
  margin: 0 auto;
}

.choice-screen {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

.hands-box {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.hands {
  width: 25rem;
  border-radius: 50%;
  display: block;
  margin: 6rem auto;
  box-shadow: 4px 5px 8rem #fff;
  box-shadow: -4px -5px 8rem #fff;
  cursor: pointer;
}

.throw-screen {
  width: 100%;
  display: flex;
  align-items: center;
}

.throws-container {
  flex-basis: 100%;
}

.blank-throws {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
}

.weapon-thrown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
}

.weapon-thrown img {
  display: block;
  width: 30rem;
  box-shadow: 4px 5px 4.5rem red;
  height: intrinsic;
}

.appearing-items {
  visibility: hidden;
}

.cpu-throws {
  width: 30rem;
}

.tie-screen {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tie-img {
  display: block;
  width: 30rem;
  margin: 0 auto;
  border-radius: 20%;
}

.tie-screen h2 {
  max-width: 65rem;
}

.scissors-screen {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.scissors-container {
  display: flex;
  width: 80%;
  align-items: center;
  margin-top: 4rem;
}

.scissors-loser {
  height: 30rem;
  border-radius: 50%;
}

.fight-picture {
  width: 40rem;
  margin: 0 5rem;
}

.scissors-winner {
  height: 30rem;
  border-radius: 50%;
}

.paper-rock-container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.right-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paper-or-rock-winner {
  height: 17.5rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 5rem;
  display: block;
}

.fight-two {
  width: 40rem;
  margin: 3rem auto;
  display: block;
}

.paper-or-rock-loser {
  height: 17.5rem;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.paper-or-rock-screen h1 {
  margin: 0;
}

.score-screen {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.6);
}

.scores {
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
}

.lose-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}

.win-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
}

.dead-loser {
  display: block;
  width: 30rem;
}

.dead-computer {
  display: block;
  width: 30rem;
  border-radius: 10px;
}

.keys {
  display: inline-block;
  width: 5rem;
  transform: translateY(1.2rem);
  cursor: pointer;
}

.n-key {
  margin-right: -0.3rem;
}

.make-visible {
  visibility: visible;
}

.disappear {
  display: none;
}

/*# sourceMappingURL=index.css.map */
