html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 200%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.screen-background {
    background-image: url("https://i.pinimg.com/originals/ff/cc/2a/ffcc2ac60d849dc43cbfcc3fca32a406.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    margin: 0 0;
    padding: 0;
}

.color-layer {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 0;
}

.intro-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 30px;
    width: 100%;
    flex-basis: 100%;
}

.background {
    text-align: center;
    font-family: "Potta One";
    color: white;
    font-size: 2.2vw;
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
    padding: 0;
}

.game-name {
    font-size: 90px;
    color: white;
    margin: 60px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Josefin Sans";
}

.title-words {
    display: block;
    margin: 0 25px;
}

.start-btns-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.start-btns {
    font-family: "Potta One";
    font-size: 30px;
    height: 100px;
    width: 250px;
    background-color: #fdff5c;
    color: red;
    border: none;
    border-radius: 15px;
    font-family: "Anton";
    letter-spacing: 2px;
}

.start-btns:hover {
    cursor: pointer;
}

#machine {
    font-size: 1.2em;
    font-family: monospace;
}





.delete-bgrnd {
    background: none;
}

#quit-screen {
    height: 100vh;
}

.chicken{
    display: block;
    width: 650px;
    margin: 0 auto;
}
#admonishment {
    font-size: 40px;
    text-align: center;
    width: 900px;
    margin: 0 auto;
}

#choose {
    font-family: "Potta One";
    color: white;
    text-align: center;
    
}
.hands {
    width: 250px;
    border-radius: 50%;
    display: block;
    margin: 60px auto;
    box-shadow: 4px 5px 80px white;
    box-shadow: -4px -5px 80px white;
    cursor: pointer;
}

.throw-screen {
    width: 100%;
    display: flex;
    align-items: center;
}

#throws-container {
    flex-basis: 100%;
}


#blank-throws {
    color: white;
    font-family: "Josefin Sans";
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

#blank-throws h2 {
}

#cpu-throws {
    width: 300px;
    text-align: center;
}

#weapon-thrown {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#weapon-thrown img {
    display: block;
    width: 300px;
    box-shadow: 4px 5px 45px red;
}

.disappear {
    display: none
}

visibility: hidden;

