*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include media(landscape-tab) {
    font-size: 8.8px;
  }

  @include media (landscape-tab-small) {
    font-size: 7.2px;
  }

  @include media (portrait-tab) {
    font-size: 6.4px;
  }

  @include media (phone) {
    font-size: 5.6px;
  }

  @include media (phone-small) {
    font-size: 4.8px;
  }
}

body {
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
  min-height: 55rem;
  display: flex;
  justify-content: center;
  align-items: safe center;
  overflow-y: scroll;
}

.screen-background {
  background-image: url("https://i.pinimg.com/originals/ff/cc/2a/ffcc2ac60d849dc43cbfcc3fca32a406.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  @include media(phone) {
    background-position: 20% 15%;
    background-size: 330%;
  }

  @include media(phone-small) {
    background-position: 22% 5%;
    background-size: 500%;
  }
}

.color-layer {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}