.tie-screen {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h2 {
    max-width: 65rem;
  }

  @include media(phone-landscape) {
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin-left: 1rem;
    }
  }
}

.tie-img {
  display: block;
  width: 27rem;
  margin: 0 auto;
  border-radius: 20%;
  @include media(phone-landscape) {
    margin-right: 1rem;
  }
}

.win-message {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.win-description {
  display: block;
}

.scissors-screen {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid blue;

  h1 {
    border: 1px solid green;
  }
}

.scissors-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
  }

.scissors-players-container {
  width: 27rem;
}

.scissors-players {
  width: 100%;
  border-radius: 50%;
}

.fight-picture-container {
  width: 40rem;
  padding: 0 2rem;
  border: 1px solid green;
}

.fight-picture {
  width: 100%;
}

.paper-rock-container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.right-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paper-or-rock-winner {
  height: 17.5rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 5rem;
  display: block;
}

.fight-two {
  width: 40rem;
  margin: 3rem auto;
  display: block;
}

.paper-or-rock-loser {
  height: 17.5rem;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.paper-or-rock-screen h1 {
  margin: 0;
}