.throw-screen {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;

  @include media(tab-portrait) {
    flex-direction: column;
    height: 100%;
  }
}

.throw-action {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  @include media(tab-portrait) {
    height: 40%;
  }
}

.cpu-action {
  margin-top: -2rem;
}

.weapon-thrown {
  display: block;
  width: 30rem;
  box-shadow: 4px 5px 4.5rem red;
  height: intrinsic;
}

.cpu-throws {
  width: 30rem;
}

.appearing-items {
  visibility: hidden;
}